@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #FAFAFA;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D1D1D1;
}

body {
  color: #000000;
}

* {
  box-sizing: border-box;
}